<h2 class="page-header">Booking service</h2>
<form (submit)="onViewOffersSubmit(cleaningRequest)">
  <div class="form-group">
    <label>Address / Location</label>
    <input type="text" [(ngModel)]="cleaningRequest.address" name="cleaningRequest.address" class="form-control">
  </div>
  <div class="form-group">
    <label>Type of cleaning</label>
      <select [(ngModel)]="cleaningRequest.selectedType" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let cleaningType of cleaningTypes" [ngValue]="cleaningType._id">{{cleaningType.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Description of premises</label>
    <input type="text" [(ngModel)]="cleaningRequest.description" name="description" class="form-control">
  </div>
  <div class="form-group">
    <label>Day / days</label>
    <div>
      <label><input type="checkbox" (change)="addDay('Sunday', $event.target.checked)" name="selectedType">Sunday</label>
      <label><input type="checkbox" (change)="addDay('Monday', $event.target.checked)" name="selectedType">Monday</label>
      <label><input type="checkbox" (change)="addDay('Tuesday', $event.target.checked)" name="selectedType">Tuesday</label>
      <label><input type="checkbox" (change)="addDay('Wednesday', $event.target.checked)" name="selectedType">Wednesday</label>
      <label><input type="checkbox" (change)="addDay('Thursday', $event.target.checked)" name="selectedType">Thursday</label>
      <label><input type="checkbox" (change)="addDay('Friday', $event.target.checked)" name="selectedType">Friday</label>
      <label><input type="checkbox" (change)="addDay('Saturday', $event.target.checked)" name="selectedType">Saturday</label>
    </div>
  </div>
 <!-- <div class="form-group">
    <label>Estimated time to start cleaning</label>
    <input type="text" [ngModel]="time" class="form-control" [ngClass]="custom-cls"
           [ng2-simple-timepicker]="{disableTextInput: false,'timeFormat':'HH:mm',showDuration:false}"/>
  </div>-->
  <div class="form-group">
    <label>Planned regular cleaning</label>
    <select [(ngModel)]="cleaningRequest.regularity" [ngModelOptions]="{standalone: true}">
      <option value="Once">Once</option>
      <option value="Every week">Every week</option>
      <option value="Every two week">Every two week</option>
      <option value="Every month">Every month</option>
    </select>
  </div>
  <div class="form-group">
    <label>Email or phone field to confirm the order</label>
    <input type="text" [(ngModel)]="cleaningRequest.email" name="email" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="View offers" [routerLink]="['/companyParametrizedList', cleaningRequest]">
</form>

