<div class="flex-container">
<form class="flex-element">
  <h2 class="page-header">Booking service</h2>
  <div class="form-group">
    <label>Address / Location</label>
    <input type="text" [(ngModel)]="cleaningRequest.address" name="cleaningRequest.address" class="form-control">
  </div>
  <div class="form-group">
    <label>Type of cleaning</label>
      <select [(ngModel)]="selectedType._id" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let cleaningType of cleaningTypes" [ngValue]="cleaningType._id">{{cleaningType.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description of premises</label>
    <div *ngFor="let roomType of roomTypes">
      <label>{{roomType.name}}</label>
      <input type="text" (change)="addDescription(roomType._id, $event.target.value)" name="description" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label>Day / days</label>
    <div>
      <label><input type="checkbox" (change)="addDay('Sunday', $event.target.checked)" name="selectedType">Sunday</label>
      <label><input type="checkbox" (change)="addDay('Monday', $event.target.checked)" name="selectedType">Monday</label>
      <label><input type="checkbox" (change)="addDay('Tuesday', $event.target.checked)" name="selectedType">Tuesday</label>
      <label><input type="checkbox" (change)="addDay('Wednesday', $event.target.checked)" name="selectedType">Wednesday</label>
      <label><input type="checkbox" (change)="addDay('Thursday', $event.target.checked)" name="selectedType">Thursday</label>
      <label><input type="checkbox" (change)="addDay('Friday', $event.target.checked)" name="selectedType">Friday</label>
      <label><input type="checkbox" (change)="addDay('Saturday', $event.target.checked)" name="selectedType">Saturday</label>
    </div>
  </div>
 <div class="form-group">
    <label>Estimated time to start cleaning</label>
    <input type="time" [value]="cleaningRequest.time" (input)="cleaningRequest.time = $event.target.value" />
  </div>
  <div class="form-group">
    <label>Planned regular cleaning</label>
    <select [(ngModel)]="cleaningRequest.regularity" [ngModelOptions]="{standalone: true}">
      <option value="Once">Once</option>
      <option value="Every week">Every week</option>
      <option value="Every two week">Every two week</option>
      <option value="Every month">Every month</option>
    </select>
    <div *ngIf="cleaningRequest.regularity != 'Once'" class="form-group">
      <label>Due date</label>
      <input  type="date" [value]="cleaningRequest.dueDate" (input)="cleaningRequest.dueDate = $event.target.value" />
    </div>
  </div>
  <div *ngIf="!authService.loggedIn()" class="form-group">
    <label>Email or phone field to confirm the order</label>
    <input type="text" [(ngModel)]="cleaningRequest.email" name="email" class="form-control">
  </div>
<!--  <input type="submit" class="btn btn-primary" value="View offers" [routerLink]="['/companyParametrizedList', cleaningRequest]">-->
  <input *ngIf="selectedCompany._id == null" type="submit" class="btn btn-primary" value="View offers" (click)="onViewOffersSubmit()">
  <input *ngIf="selectedCompany._id != null" type="submit" class="btn btn-primary" value="Order" (click)="openOrder(order)">

</form>
</div>


<md2-dialog #order>
  <md2-dialog-title>Confirm you order</md2-dialog-title>
  <div class="form-group">
    <label>Please check you request:</label>
    <fieldset [disabled]="true">

      <div class="form-group">
        <label>Address / Location</label>
        <input type="text" [(ngModel)]="cleaningRequest.address" name="cleaningRequest.address" class="form-control">
      </div>
      <div class="form-group">
        <label>Type of cleaning</label>
        <input type="text" [(ngModel)]="order.cleaningTypeName" name="order.cleaningTypeName" class="form-control">
      </div>

      <div class="form-group">
        <label>Description of premises</label>
        <div *ngFor="let roomDescription of roomDescriptions">
          <label>{{roomDescription.name}}</label>
          <input type="text" [(ngModel)]="roomDescription.count"  name="description" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label>Day / days</label>
        <div *ngFor="let selectedDay of cleaningRequest.selectedDays">
          <input type="text" value={{selectedDay}} class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label>Planned regular cleaning</label>
        <input type="text" [(ngModel)]="cleaningRequest.regularity"  name="regularity" class="form-control">
      </div>
      <div *ngIf="!authService.loggedIn()" class="form-group">
        <label>Email or phone field to confirm the order</label>
        <input type="text" [(ngModel)]="cleaningRequest.email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label>Company</label>
        <input type="text" [(ngModel)]="selectedCompany.username"  name="username" class="form-control">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" [(ngModel)]="this.order.price"  name="username" class="form-control">
      </div>
    </fieldset>
  </div>
  <md2-dialog-footer>
    <button  class="btn btn-primary" button="primary" (click)="confirmOrder(order)">Ok</button>
    <button class="btn btn-dafault" button (click)="cancel(order)">Cancel</button>
  </md2-dialog-footer>
</md2-dialog>

